<div id="answer-block">
<% answers.each do |answer| %>
  <p><%= answer.content %></p>
  <p class="author">By: <%=User.find_by(id: answer.user_id).username %>, Date: <%= answer.created_at %></p>


  <form id="best_answer" name="best_answer" action="/questions/<%= answer.question_id %>/answers/<%= answer.id %>/best_answer" method="post">
    <button id='button' type='submit'>Best Answer?!</button>
  </form>

  <div class="upvote">
    <form action="/questions/<%= the_id %>/answers/<%= answer.id %>" method="POST"><button id="vote" type="submit" value="UpVote"><div class="arrow-up"></div></button>Votes:<%= answer.votes.count %></form>
    </div>

<% end %>
</div>