

	<% @questions.each do |question| %>
	
	<ul id= '<%= question.id %>'>
		<li><a href="/questions/<%= question.id %>"	><%= question.title %></a></li>
		<li class="votes"><%= question.votes.count %> Votes</li>
		<li class="answers"><%= question.answers.count %> Answers</li>		
			
	</ul>
	<% end %>
<div class="headline">
	<a href="/questions/ask" class="btn question">Ask a Question</a>
</div>


